---
layout: archive
title: "🎓 Education"
permalink: /education/
author_profile: true
feature_row1:
  - image_path: /assets/images/hkust.jpg
    alt: "placeholder image 2"
    title: "PhD. in Robotics and AI"
    excerpt: '📅: 2016-2021 <br> <br>  ✍️: **Research:** <br> Multi-Agent SLAM System, Place Recognition and Inspection Robotics <br> <br>  👨‍💼: **Supervisor:** [Prof. Ming Liu](https://ram-lab.com/group/#dr-ming-liu)  <br> <br> 🏫: **Lab:** [Robotics and Multiperception Lab](http://www.ram-lab.com), Robotics Institute, HKUST. <br> <br> 🏫: **School:** Department of Electronic and Computer Engineering, The Hong Kong University of Science and Technology, **HKUST**, HK (**Top 15 in Engineering and Technology** in World).  <br> <br> 🥇: **Scholarship:** - Punjab Endowment Funds Shahbaz Shareef Merit Scholarship SSMS, Pakistan [link](http://www.peef.org.pk/PhdScholars-list.html). <br> - HKUST oversease research award.'
feature_row2:
  - image_path: /assets/images/qau.jpg
    alt: "placeholder image 2"
    title: "M.Phil. in Image Processing and Communication"
    excerpt: '📅: 2010-2012  <br> <br> ✍️: **Research:** <br>  Image Processing, Object Detection and Recognition.  <br> <br> 👨‍💼: **Supervisor:** [ Prof. Hasan Mahmood](https://www.qau.edu.pk/profile.php?id=810005). <br> <br>  🏫: **School:** Department of Electronics, Quaid-i-Azam University, **QAU**,Islamabad, Pakistan (**#1 in Pakistan**).'
feature_row3:
  - image_path: /assets/images/qau.jpg
    alt: "placeholder image 2"
    title: "M.Sc. in Electronics"
    excerpt: '📅: 2007-2009  <br> <br> 🏫: **School:** Department of Electronics, Quaid-i-Azam University, **QAU**,Islamabad, Pakistan (**#1 in Pakistan**). <br> <br> 🥇: **Scholarship:** HEC position based Scholarship (three times) during M.Sc. (Electronics) at QAU. '
feature_row4:
  - image_path: /assets/images/bzu.jpg
    alt: "placeholder image 2"
    title: "B.Sc. in Mathematics and Physics"
    excerpt: '📅: 2005-2007  <br> <br> 🏫: **School:** Bahauddin Zakariya University, **BZU**, Multan, Pakistan. '
---
{% include feature_row id="feature_row1" type="left" %}
{% include feature_row id="feature_row2" type="left" %}
{% include feature_row id="feature_row3" type="left" %}
{% include feature_row id="feature_row4" type="left" %}