
  <li>
    <a href="/startup/" itemprop="sameAs">
      <i class="fas fa-fw fa-space-shuttle" aria-hidden="true"></i> Startups
    </a>
  </li>  
  <li>
    <a href="/awards/" itemprop="sameAs">
      <i class="fas fa-fw fa-certificate" aria-hidden="true"></i> Awards
    </a>
  </li>
  <li>
    <a href="/publications/" itemprop="sameAs">
      <i class="fas fa-fw fa-file-alt" aria-hidden="true"></i> Publications
    </a>
  </li>
  <li>
    <a href="/education/" itemprop="sameAs">
      <i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i> Educations
    </a>
  </li>
  <li>
      <a href="/experiences/" itemprop="sameAs">
        <i class="fas fa-fw fa-briefcase" aria-hidden="true"></i> Experiences
      </a>
  </li>
  <li>
      <a href="/assets/resume.pdf" itemprop="sameAs">
        <i class="fas fa-fw fa-address-card" aria-hidden="true"></i> Resume
      </a>
  </li>
  <li>
    <a href="" itemprop="sameAs" title="wechat">
      <i class="fab fa-fw fa-weixin" aria-hidden="true"></i> musmanmbhutta
    </a>
</li>