
  <li>
      <a href="https://drive.google.com/file/d/1o3o-DnzwbcTCY023CPv6wCxIdXeuQEt6/view?usp=sharing" itemprop="sameAs">
        <i class="fas fa-fw fa-address-card" aria-hidden="true"></i> Resume
      </a>
    </li>
  <li>
    <a href="conference%20paper/publications/post-cyber-paper/" itemprop="sameAs">
      <i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i> Educations
    </a>
  </li>
  <li>
      <a href="conference%20paper/publications/post-cyber-paper/" itemprop="sameAs">
        <i class="fas fa-fw fa-certificate" aria-hidden="true"></i> Awards
      </a>
  </li>
  <li>
      <a href="conference%20paper/publications/post-cyber-paper/" itemprop="sameAs">
        <i class="fas fa-fw fa-briefcase" aria-hidden="true"></i> Experiences
      </a>
  </li>