---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.tag_item {
    display: inline-block;
    margin-right: 5px;
    padding: 1px 7px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    float: right;
}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.keywords {
    border-radius: 5px;
    padding: 1px 7px;
    background-color: aliceblue;
    color: darkcyan;
    font-style: italic;
}  
.page__taxonomy-item {
    color: #106de3;
}


.blink_me {
//    animation: blinker 1s linear infinite;
    border-radius: 5px;
    padding: 1px 7px;
    background-color: red;
    color: yellow;
    font-style: italic;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  /* _sass/_post.css */
  // https://remarkablemark.org/blog/2021/06/01/add-copy-code-to-clipboard-button-to-jeyll-site/
pre.highlight > button {
  opacity: 0;
}

pre.highlight:hover > button {
  opacity: 1;
}

pre.highlight > button:active,
pre.highlight > button:focus {
  opacity: 1;
}
