---
layout: archive
---

{{ content }}

<h2 class="archive__subtitle" style=" color: crimson; font-size: 22px;" >{{ site.data.ui-text[site.locale].recent_posts | default: "News Feed" }}</h2>
{% include tag-menu.html %}
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
    {% if teaser %}
  <div class="archive__item-teaser">
    <img src=
      {% if teaser contains "://" %}
        "{{ teaser }}"
      {% else %}
        "{{ teaser | relative_url }}"
      {% endif %}
      alt="" style=" //height: 350px; width: auto;">
  </div>
  {% endif %}
  {% endfor %}
</div>

{% include paginator.html %}
