---
layout: archive
---

<!--<p style="    font-family: fantasy;    font-size:  14px;    text-align:  justify;">
    :newspaper: <b>C</b>urrent co-founder of a start-up company Lisee Technology Corporation. 5+ years experience specializing in project management for research and development, web development and marketing at Friends Corporate Technologies. I have been a part of some other startups related to real estate, marketing, and automation. A super nerd who loves entrepreneurship, deep learning, and enjoys to develop the idea to reality. Interested in devising a better problem-solving method for challenging tasks, and learning new technologies and tools if the need arises. 
  <br> <br>
 :briefcase: experience[4] :mortar_board: Education [3] :trophy: Awards [4] :book: Publications [3] :bookmark: Certificate [10] :hammer: Skills [11]
</p> -->

<h2 class="archive__subtitle" style=" color: crimson; font-size: 22px;" >{{ site.data.ui-text[site.locale].recent_posts | default: "News Feed" }}</h2>
{% include tag-menu.html %}
{% for post in paginator.posts %}
  {% include archive-single.html %}
  {% if teaser %}
  <div class="archive__item-teaser">
    <img src=
      {% if teaser contains "://" %}
        "{{ teaser }}"
      {% else %}
        "{{ teaser | relative_url }}"
      {% endif %}
      alt="" style=" //height: 350px; width: auto;">
  </div>
  {% endif %}
{% endfor %}

{% include paginator.html %}