---
layout: archive
---

<h2 class="archive__subtitle" style=" color: orangered; font-size: 22px;" >{{ site.data.ui-text[site.locale].recent_posts | default: "News Feed" }}</h2>

{% for post in paginator.posts %}
  {% include archive-single.html %}
  {% if teaser %}
  <div class="archive__item-teaser">
    <img src=
      {% if teaser contains "://" %}
        "{{ teaser }}"
      {% else %}
        "{{ teaser | relative_url }}"
      {% endif %}
      alt="">
  </div>
  {% endif %}
{% endfor %}

{% include paginator.html %}